@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --white: #fff;
  --primary100: #333333;
  --primary200: #777777;
  --primary300: #dddddd;
  --hoverClr: #f0ad4e;
  --headerBorder: #FFA804;
  --secondaryText: #ff6600;
  --dark-bg: #0f0c10;
}

ul li {
  list-style-type: none;
}

.hero-section {
  height: 32.875rem;
  position: relative;
  background-size: cover;
}

.intro-header {
  height: 15.625rem;
  width: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 12.5rem;
  width: 12.5rem;
  border-radius: 50%;
  object-fit: scale-down;
}

.header-title {
  margin-top: 8.75rem;
  font-weight: 600;
  color: var(--primary100);
}

.nav-links {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  gap: 1.25rem;
}

.icon-links {
  text-decoration: none;
  color: var(--primary100);
  font-size: 1.5rem;
  transition: color 0.15s ease;
}

.icon-links:hover {
  color: var(--hoverClr);
}

.summary-section {
  padding: 4rem 10rem;
  width: 100%;
  display: flex;
}

.summary-margin-top {
  margin-top: 1rem;
}

.summary-title {
  min-width: 30%;
  font-size: 1.75rem;
  font-weight: 600;
}

.summary-title::before {
  content: '';
  height: .625rem;
  width: 3.25rem;
  border-radius: .375rem;
  margin-bottom: 1.25rem;
  display: block;
  background: var(--headerBorder);
}

.summary-text {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--primary200);
  line-height: 1.6;
}

.chips-list:first-child {
  margin-top: 2.75rem;
}

.chips-list {
  display: inline-block;
  background: rgba(30, 187, 163, 0.04);
  color: var(--primary100);
  padding: .5rem 1rem;
  border: 1px solid var(--primary300);
  border-radius: .5rem;
  font-size: .875rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
}


.article-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.article-subtitle {
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondaryText);
  margin-bottom: .5rem;
}

.article-timestamp {
  font-size: .875rem;
  font-weight: 400;
  margin: .75rem 0 1.5rem 0;
}

.article-points {
  font-weight: 400;
  font-size: 1rem;
}

.with-dash::before {
  content: "\2013 ";
  display: inline-block;
  margin-right: 0.5em;
}

.footer-section {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.footer-text {
  text-align: center;
}

.margin-bottom-half {
  margin-bottom: .5rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

.article-title-top {
  margin-top: 2.5rem;
}

.dark-bg {
  background: var(--dark-bg);
  color: var(--white);
}

.font-primary100 {
  color: var(--primary100);
}

.font-primary200 {
  color: var(--primary200);
}

.font-primary300 {
  color: var(--primary300);
}


@media screen and (max-width: 1280px) {
  .intro-header {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .hero-section {
    height: 400px;
  }

  .hero-image {
    margin-top: -3rem;
  }

  .intro-header {
    width: 80%;
  }

  .summary-section {
    padding: 2rem 4rem;
    flex-direction: column;
  }

  .summary-margin-top {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 640px) {
  .summary-section {
    padding: 2rem 2rem;
  }

  .intro-header {
    width: 90%;
  }

  .article-container {
    margin-top: 1rem;
  }
}